@charset "utf-8";
@media all and (min-width:991px){.centdel{padding:5% 5% 5% 5%;font-size:14px;}/*delivery, furniture*/
}
@media all and (max-width:991px){.centdel{padding-left:15px !Important;padding-right:15px !Important;padding-top:15px !Important;font-size:12px;}/*delivery, furniture*/
}
#del-container{height:30%;}/*delivery*/
.del-md-12{position:relative;min-height:1px;padding-left:0px !important;padding-right:0px !important;}/*delivery, furniture*/
.del-md-4{padding-left:0px !important;padding-right:0px !important;}/*delivery, furniture*/
.del-md-8{padding-left:0px !important;padding-right:0px !important;}/*delivery, furniture*/
@media (min-width:992px){.del-md-8{width:50% !important;}/*delivery, furniture*/
}
@media (min-width:992px){.del-md-4{width:50% !important;}/*delivery, furniture*/
}
.delgeneral{margin-left:0px !important;margin-right:0px !important;}/*delivery, furniture*/
.description3{font-size:14px;color:#000000;}/*delivery, furniture*/

#del-outer2{margin-bottom:20px;background-color:rgba(0, 0, 0, 0) !important;}/*furniture, delivery*/
@media (max-width:720px){.max_hidden_block{font-size: 0px !important;}}/*edging, cutting,delivery*/