# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .a
#*.a
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#!lib.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#/TODO
# игнорировать все файлы в каталоге build/
#build/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
#doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
#doc/**/*.txt
#just a line for some test

*.md
uploads/
images/
img/
respond/
readme.txt
BingSiteAuth.xml
fsg4b5df.txt
fsgcfde6.txt
googlecd2ceb0318b53a95.html
wmail_7134fd1e614be1c2efd1d51a3fe19856.html
yandex_75d8da7f9832cb87.html
